<div id="{{mojit_view_id}}" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </a>
          <a class="brand" href="#">
            Reifime
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a href="#">
                  Home
                </a>
              </li>
              <li>
                <a href="#">
                  About
                </a>
              </li>
              <li>
                <a href="#">
                  Contact
                </a>
              </li>
            </ul>
          </div>
          <form class="navbar-form pull-right">
            <input name="textinput1" placeholder="Email" class="span2" type="email">
            <input name="textinput2" placeholder="Password" class="span2" type="password">
            <button class="btn">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
